###
# force HTTPS
###
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

###
# HSTS
###
<IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" "expr=%{HTTPS} == 'on'"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^/?doku.php/kategorie/administrace_systemu/? http://wiki.ubuntu.cz/systém? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/aplikace_a_rozsireni/? http://wiki.ubuntu.cz/programy? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/chat/? http://wiki.ubuntu.cz/programy/internet/komunikátory? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/chromium/? http://wiki.ubuntu.cz/programy/internet/chromium? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/cinnamon/? https://cs.wikipedia.org/wiki/Cinnamon? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/claws_mail/? https://www.linuxexpres.cz/software/claws-mail-povolte-mailum-oprate? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/desktopova_prostredi/? https://cs.wikipedia.org/wiki/Desktopové_prostředí? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/download_manazery/? http://wiki.ubuntu.cz/programy/internet\#stahování? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/empathy/? http://wiki.ubuntu.cz/programy/internet/empathy? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/evolution/? http://wiki.ubuntu.cz/programy/internet/evolution? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/gajim/? http://wiki.ubuntu.cz/programy/internet/gajim? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/google_chrome/? http://wiki.ubuntu.cz/programy/internet/google_chrome? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/internet_a_email/? http://wiki.ubuntu.cz/programy/internet? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/internetove_prohlizece/? http://wiki.ubuntu.cz/programy/internet/webové_prohlížeče? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/jdownloader/? http://wiki.ubuntu.cz/programy/internet/stahování/jdownloader? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/kancelar/? http://wiki.ubuntu.cz/programy/kancelářské_aplikace? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/kde/? https://cs.wikipedia.org/wiki/KDE? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/klienti_elektronicke_posty/? http://wiki.ubuntu.cz/programy/internet\#email? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/libreoffice/? http://wiki.ubuntu.cz/programy/kancelářské_aplikace/libreoffice? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/lxde/? https://cs.wikipedia.org/wiki/LXDE? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/mate/? https://cs.wikipedia.org/wiki/MATE? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/mozilla_firefox/? http://wiki.ubuntu.cz/programy/internet/firefox? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/mozne_problemy/? https://forum.linux-mint-czech.cz/? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/openoffice/? http://wiki.ubuntu.cz/programy/kancelářské_aplikace/openoffice.org? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/opera/? http://wiki.ubuntu.cz/programy/internet/opera? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/pidgin/? http://wiki.ubuntu.cz/programy/internet/pidgin? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/predstaveni_linux_mintu/? https://www.linux-mint-czech.cz/zaciname-s-mintem/? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/prikazovy_radek/? http://wiki.ubuntu.cz/systém/příkazová_řádka/terminál? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/problem_cinnamon/? https://forum.linux-mint-czech.cz/? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/root_sudo/? http://wiki.ubuntu.cz/root_sudo? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/stazeni_a_instalace/? https://www.linux-mint-czech.cz/ke-stazeni/? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/terminal/? http://wiki.ubuntu.cz/systém/příkazová_řádka/terminál? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/thunderbird/? http://wiki.ubuntu.cz/programy/internet/mozilla_thunderbird? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/xfce/? https://cs.wikipedia.org/wiki/Xfce? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/zakladni_prikazy/? http://wiki.ubuntu.cz/základní_příkazy? [L,R=302]
    RewriteRule ^/?doku.php/kategorie/zalohovani_a_obnova_systemu/? https://www.linux-mint-czech.cz/tag/zalohovani/? [L,R=302]

    RewriteRule ^/?doku.php/wiki/dokuwiki/? https://www.dokuwiki.org/wiki:dokuwiki? [L,R=302]
    RewriteRule ^/?doku.php/wiki/syntax/? https://www.dokuwiki.org/wiki:syntax? [L,R=302]
    RewriteRule ^/?doku.php/wiki/welcome/? https://www.dokuwiki.org/wiki:welcome? [L,R=302]

    RewriteRule ^/?doku.php/casto_kladene_otazky/? https://forum.linux-mint-czech.cz/? [L,R=302]
    RewriteRule ^/?doku.php/cinnamon/? https://cs.wikipedia.org/wiki/Cinnamon? [L,R=302]
    RewriteRule ^/?doku.php/grub_-_bootovaci_nastroj/? http://wiki.ubuntu.cz/grub2? [L,R=302]
    RewriteRule ^/?doku.php/instalace_nesvobodnych_ovladacu_ati-amd/? http://wiki.ubuntu.cz/ovladače_grafických_karet? [L,R=302]
    RewriteRule ^/?doku.php/instalace_programu/? http://wiki.ubuntu.cz/instalace_programů? [L,R=302]
    RewriteRule ^/?doku.php/instalacni_navod/? https://www.linux-mint-czech.cz/ke-stazeni/? [L,R=302]
    RewriteRule ^/?doku.php/jabber/? http://wiki.ubuntu.cz/jabber? [L,R=302]
    RewriteRule ^/?doku.php/kde/? https://cs.wikipedia.org/wiki/KDE? [L,R=302]
    RewriteRule ^/?doku.php/linux_mint_a_ostatni_linuxove_distribuce/? https://www.linux-mint-czech.cz/zaciname-s-mintem/? [L,R=302]
    RewriteRule ^/?doku.php/lxde/? https://cs.wikipedia.org/wiki/LXDE? [L,R=302]
    RewriteRule ^/?doku.php/mate/? https://cs.wikipedia.org/wiki/MATE? [L,R=302]
    RewriteRule ^/?doku.php/mozne_problemy/? https://forum.linux-mint-czech.cz/? [L,R=302]
    RewriteRule ^/?doku.php/nastaveni_jazyka/? http://wiki.ubuntu.cz/vícejazyčný_systém? [L,R=302]
    RewriteRule ^/?doku.php/nastaveni_systemu/? https://forum.linux-mint-czech.cz/? [L,R=302]
    RewriteRule ^/?doku.php/obnova_systemu_ze_zalohy/? https://www.linux-mint-czech.cz/tag/zalohovani/? [L,R=302]
    RewriteRule ^/?doku.php/oficialni_repozitare/? http://packages.linuxmint.com/? [L,R=302]
    RewriteRule ^/?doku.php/poinstalacni_tipy/? https://www.linux-mint-czech.cz/2017/05/tipy-po-instalaci-linux-mintu/? [L,R=302]
    RewriteRule ^/?doku.php/pomoc/? https://forum.linux-mint-czech.cz/? [L,R=302]
    RewriteRule ^/?doku.php/prechod_na_novejsi_verzi/? https://www.linux-mint-czech.cz/ke-stazeni/? [L,R=302]
    RewriteRule ^/?doku.php/preinstalace_grub/? http://wiki.ubuntu.cz/grub2\#obnovení_grub2_pomocí_livecd? [L,R=302]
    RewriteRule ^/?doku.php/pridavani_zdroju/? http://wiki.ubuntu.cz/instalace_programů/přidávání_zdrojů? [L,R=302]
    RewriteRule ^/?doku.php/principy_a_filozofie_linux_mintu/? https://www.linux-mint-czech.cz/zaciname-s-mintem/? [L,R=302]
    RewriteRule ^/?doku.php/root_sudo/? http://wiki.ubuntu.cz/root_sudo? [L,R=302]
    RewriteRule ^/?doku.php/skryte_soubory/? http://wiki.ubuntu.cz/skryté_soubory? [L,R=302]
    RewriteRule ^/?doku.php/sprava_balicku/? http://wiki.ubuntu.cz/správa_balíků? [L,R=302]
    RewriteRule ^/?doku.php/system_souboru/? http://wiki.ubuntu.cz/systém/datová_úložiště/adresářová_struktura? [L,R=302]
    RewriteRule ^/?doku.php/uzivatelske_repozitare/? http://wiki.ubuntu.cz/instalace_programů/přidávání_zdrojů? [L,R=302]
    RewriteRule ^/?doku.php/vyvojovy_cyklus/? https://cs.wikipedia.org/wiki/Linux_Mint\#Verze? [L,R=302]
    RewriteRule ^/?doku.php/wine/? http://wiki.ubuntu.cz/wine? [L,R=302]
    RewriteRule ^/?doku.php/xfce/? https://cs.wikipedia.org/wiki/Xfce? [L,R=302]
    RewriteRule ^/?doku.php/zakladni_pojmy/? https://www.linux-mint-czech.cz/zaciname-s-mintem/? [L,R=302]
    RewriteRule ^/?doku.php/zalohovani_systemu/? https://www.linux-mint-czech.cz/tag/zalohovani/? [L,R=302]

    RewriteRule ^(.*)$ https://www.linux-mint-czech.cz/? [L,R=302]
</IfModule>


